<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MasterConnectionString" connectionString="data source=.\SQLEXPRESS;integrated security=SSPI;Initial Catalog=master;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TestingConnectionString" connectionString="data source=.\SQLEXPRESS;integrated security=SSPI;Initial Catalog=NSaga-Testing;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

    <add name="MasterConnectionString" connectionString="Server=(localdb)\v12.0;" providerName="System.Data.SqlClient"/>
    <add name="TestingConnectionString" connectionString="Server=(localdb)\v12.0;Database=NSaga-Testing" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>