<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestingConnectionString" value="data source=.\SQLEXPRESS;integrated security=SSPI;Initial Catalog=NSaga-Testing;MultipleActiveResultSets=True" />
    <add key="MasterConnectionString" value="data source=.\SQLEXPRESS;integrated security=SSPI;Initial Catalog=master;MultipleActiveResultSets=True" />
    <!--<add key="TestingConnectionString" value="Server=(localdb)\v12.0;Database=NSaga-Testing"/>-->
  </appSettings>
</configuration>